$s1: 0.25rem;
$s2: 0.50rem;
$s3: 0.75rem;
$s4: 1.00rem;

$s5: 1.25rem;
$s6: 1.50rem;
$s7: 1.75rem;
$s8: 2.00rem;

$s9:  2.25rem;
$s10: 2.50rem;
$s11: 2.75rem;
$s12: 3.00rem;

$s13: 3.25rem;
$s14: 3.50rem;
$s15: 3.75rem;
$s16: 4.00rem;

$s17: 4.25rem;
$s18: 4.50rem;
$s19: 4.75rem;
$s20: 5.00rem;

$s21: 5.25rem;
$s22: 5.50rem;
$s23: 5.75rem;
$s24: 6.00rem;

$s25: 6.25rem;
$s26: 6.50rem;
$s27: 6.75rem;
$s28: 7.00rem;